/* Page rendering details */
body {
  background-color: rgb(40, 40, 40);
  color: rgb(200, 200, 200);
  font-family: monospace;
}

.content {
  background-color: rgb(60, 60, 60);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}

/* Common elements */
a,a:visited {
  color: #3d7e9a;
  text-decoration: none;
}

code {
  background-color: rgb(80, 80, 80);
  color: rgb(222, 222, 222);
  margin: 2px;
  border-radius: 2px;
}

pre {
  background-color: rgb(80, 80, 80);
  color: rgb(222, 222, 222);
  margin: 2px;
  border-radius: 2px;
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

video {
  width: 100%;
}

/* Menu bar */
ul.menubar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: rgb(80, 80, 80);
  overflow: hidden;
}

li.menuitem {
  display: inline-block;
  float: left;
}

li.menuitem.login {
  float: right;
}

a.menulink {
  display: block;
  padding: 8px;
  background-color: rgb(80, 80, 80);
}

a.menulink:hover {
  background-color: rgb(70, 70, 70);
}

/* Specific elements */
#title {
  text-align: center;
}

ul.directory {
  list-style-type: none;
}

.media-container {
  margin-top: 15px;
}

a#back-button {
  display: block;
  padding: 8px;
  background-color: rgb(80, 80, 80);
}

a#back-button:hover {
  background-color: rgb(70, 70, 70);
}
