<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="@{/common.css}">
</head>
<body>
  <div class="content">
    <div th:insert="~{menu-bar :: menubar}"></div>
    <div>
      <h1 id="title">Login</h1>
      <form th:action="@{/login}" method="post">
        <input type="hidden" th:name="${_csrf.getParameterName()}" , th:value="${_csrf.getToken()}">
        <div class="login-form">
          <div class="login-component">
            <label for="username" class="hidden-label">Username</label> <input class="text-input login-input"
                                                                               type="text" name="username" id="username"
                                                                               placeholder="Username">
          </div>
          <div class="login-component">
            <label for="password" class="hidden-label">Password</label> <input class="text-input login-input"
                                                                               type="password" name="password"
                                                                               id="password" placeholder="Password">
          </div>
          <div class="login-component">
            <input class="button" type="submit" value="Log In">
          </div>
          <div class="form-text">
            Don't have an account? <a href="#" th:href="@{/signup/}">Sign up.</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>