<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${file_name}">Media File</title>
  <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="@{/common.css}">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="../static/player.js" th:src="@{/player.js}"></script>
</head>

<body>
  <div class="content">
    <div th:insert="~{menu-bar :: menubar}"></div>
    <div th:if="${has_parent}">
      <a id="back-button" href="#" th:href="${parent_url}">Back</a>
    </div>
    <div>
      <h1 id="title" th:text="${file_name}">Media File</h1>
      Path:
      <pre th:text="${file_path}">/file/path</pre>
      <div class="media-container">
        <video id="player" controls="" autoplay="" th:src="${file_href}"></video>
      </div>
    </div>
  </div>
</body>

</html>