<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" href="../static/common.css" th:href="@{/common.css}">
</head>

<body>
  <div class="content">
    <ul class="menubar" th:fragment="menubar">
      <li class="menuitem"><a class="menulink" href="#" th:href="@{/}">Home</a></li>
      <li class="menuitem"><a class="menulink" href="#" th:href="@{/tree/}">Browse</a></li>
      <li class="menuitem"><a class="menulink" href="#">Upload</a></li>
      <li class="menuitem"><a class="menulink" href="#">Manage</a></li>
      <li class="menuitem login"><a class="menulink" href="#">Login</a></li>
    </ul>
  </div>
</body>
</html>